body {
    background: rgb(94, 21, 21);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 36px;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background: #f7f7f7;
}

tr:nth-child(odd) {
    color: #fff;
}